<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/searchBar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/navbar_responsive.js"></script>
    <script
      type="text/javascript"
      src="/scripts/category_responsive.js"
    ></script>
    <script type="text/javascript" src="/scripts/listings-render.js"></script>
  </head>

  <body>
    <%- include("partials/_navbar") %> <%- include("partials/_searchBar") %>

    <section id="message-thread">
      <div id="message-listing-title">
        <h2>Message Thread: <%= title %></h2>
      </div>
      <% messages.forEach(message => { %>
      <div class="message">
        <!-- <div class="listing-photo">
            <img src="https://via.placeholder.com/100x100" />
          </div> -->
        <div class="message-content container-fluid">
          <div class="message-header">
            <div class="message-header-left">
              <h3><%= message.name %></h3>
            </div>
            <div class="message-header-right">
              <h3><%= message.sent %></h3>
            </div>
          </div>
          <div class="message-content">
            <%= message.content %>
          </div>
        </div>
      </div>

      <% }) %>
    </section>
    <form method="POST" action="/api/messages/<%= threadId %>">
      <div class="form-group">
        <label for="message-respond">Respond To Conversation</label>
        <input
          name="message-respond"
          type="text"
          class="form-control"
          id="message-respond"
          placeholder="Enter your message here."
        />
      </div>
      <button
        id="respond-to-conversation"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
