<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/searchBar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/singleListing.css" type="text/css" />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/listings-render.js"></script>
  </head>

  <body>
    <%- include("partials/_navbar") %> <%- include("partials/_searchBar") %>

    <div class="container col-lg-10 col-sm-11" id="single-listing">
      <!-- Title, price card-->

      <div class="row single-listing-header">
        <div class="header-left col-lg-8 col-md-8 col-sm-8 align-middle">
          <div class="">
            <h5><%= listing.title %></h5>
            <h4 class="text-success">$<%= listing.price %></h4>
          </div>
        </div>
        <div class="header-right col-lg-4 col-md-4 col-sm-4 d-flex mx-auto">
          <div class="col-10 d-flex">
            <h3><i class="fa fa-map-marker m-3" aria-hidden="true"></i></h3>
            <div>
              <span
                ><small class="text-muted"><%= chrono_listing %></small><br
              /></span>
              <span
                ><small class="text-muted"><%= listing.postal_code %></small
                ><br
              /></span>
              <span
                ><small class="text-muted"
                  ><a href="#">View Map</a></small
                ></span
              >
            </div>
          </div>
        </div>
        <div id="single-listing-favourite">
          <form class="favourite-link" id="<%= listing.id %>">
            <button class="btn bg-success text-white"><i class="fas fa-heart"></i> Save As Favouite</butto>
          </form>
        </div>
      </div>

      <!-- Listing -->

      <div id="single-listing-container" class="container">
        <div class="row">
          <div class="col-12">
            <div class="img-container col-7 mx-auto">
              <img src="//placehold.it/400" alt="" />
            </div>

            <div id="single-listing-content-container">
              <div>
                <h3 class="text-success">Description:</h3>
                <p><%= listing.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact Sender -->

      <div id="single-listing-contact-container" class="container">
        <div class="row">
          <div class="col-12">
            <form id='contact-seller-form' method="POST" action="/api/messages">
              <div class="form-group">
                <h3>
                  <label for="message-to-seller">Contact Kajaja User</label>
                </h3>
                <textarea
                  name="message-to-seller"
                  type="text"
                  class="form-control"
                  id="message-to-seller"
                  placeholder="Your Message"
                ></textarea>
              </div>
              <button id="submit-message" type="submit" class="btn btn-primary btn-lg btn-block">
                Send message
              </button>
            </form>
            <div id="message-sent-alert" class="alert alert-success collapse" role="alert">
              Your message has been successfully sent!
            </div>
          </div>
        </div>
      </div>

      <!-- Seller Info -->
      <div id="single-listing-seller-info" class="container">
        <div class="row">
          <div class="col-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">
                  <a href="/api/users/<%= listing.owner_id %>"
                    >KaJaJa Seller: <%= listing.name %></a
                  >
                </h5>
                <p class="card-text">
                  <i class="fa fa-calendar mr-3" aria-hidden="true"></i> On
                  Kajaja Since <%= chrono_owner %>
                </p>
                <p class="card-text">
                  <i class="fa fa-list-alt mr-3" aria-hidden="true"></i>
                  <a href="/api/users/<%= listing.owner_id %>"
                    >View other listings</a
                  >
                </p>
                <div class="input-group mb-2" id="call-seller">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                  </div>
                  <a href="tel:<listing.phone_number %>"
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="<%= listing.phone_number %>"
                      readonly
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
